node_modules/
.next/
out/
.env
.env.local
.env*.local
*.log
.DS_Store
.vercel
next-env.d.ts

# Capacitor build artifacts
.api-backup/
android/app/build/
android/build/
android/.gradle/
android/.idea/
android/local.properties
android/app/release/
android/app/debug/
android/captures/
android/app/src/main/assets/public/
android/app/src/main/assets/capacitor.config.json
android/app/src/main/assets/capacitor.plugins.json
*.keystore
*.jks
